@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: url(./img/sofka2.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

body::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	overflow: hidden;
}

.App {
	position: relative;
	text-align: center;
	max-width: 728px;
	margin: 0 auto;
	box-shadow: 0 10px 12px rgba(0, 0, 0, 0.6);
	height: 100%;
	overflow: hidden;
}

.App header {
	background-color: #181717;
	height: 10vh;
	min-height: 50px;
	color: white;
	position: fixed;
	width: 100%;
	max-width: 728px;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 99;
	padding: 10px;
	box-sizing: border-box;
}

.App section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100vh;
	background-color: rgb(19, 18, 18, 0.7);
}

main {
	padding: 10px;
	height: 80vh;
	margin: 10vh 0 10vh;
	overflow-y: scroll;
	display: flex;
	flex-direction: column;
}

main::-webkit-scrollbar {
	width: 0.25rem;
}

main::-webkit-scrollbar-track {
	background: #1e1e24;
}

main::-webkit-scrollbar-thumb {
	background: #6649b8;
}

form {
	height: 10vh;
	position: fixed;
	bottom: 0;
	background-color: rgb(24, 23, 23);
	width: 100%;
	max-width: 728px;
	display: flex;
	font-size: 1.5rem;
}

form button {
	width: 20%;
	background-color: #0b93f6;
}

input {
	line-height: 1.5;
	width: 100%;
	font-size: 1.5rem;
	background: rgb(58, 58, 58);
	color: white;
	outline: none;
	border: none;
	padding: 0 10px;
}

button {
	background-color: #282c34; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	font-size: 1.25rem;
}

button:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.sign-in {
	position: absolute;
	color: #fff;
	background: rgb(24, 22, 22);
	left: 50%;
	top: 80%;
	transform: translateX(-50%);
	border-radius: 4px;
	outline: none;
}

.titleWelcome {
	font-family: 'Montserrat';
	text-align: center;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100%;
	letter-spacing: 1px;
}

.titleWelcome h2 {
	background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
	background-size: cover;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase;
	font-size: 120px;
	line-height: 0.75;
	margin: 10px 0;
	width: 100%;
}
ul,
li {
	text-align: left;
	list-style: none;
}

p {
	max-width: 500px;
	margin-bottom: 12px;
	line-height: 24px;
	padding: 4px 10px;
	border-radius: 7px;
	position: relative;
	color: white;
	text-align: center;
}

.message {
	display: flex;
	align-items: center;
}

.sent {
	flex-direction: row-reverse;
}

.sent p {
	color: white;
	background: #0b93f6;
	align-self: flex-end;
}
.received p {
	background: #e5e5ea;
	color: black;
}

img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin: 2px 5px;
}

@media (max-width: 692px) {
	.titleWelcome h2 {
		font-size: 80px;
	}
}

@media (max-width: 492px) {
	.titleWelcome h2 {
		font-size: 70px;
	}
}

@media (max-width: 406px) {
	.titleWelcome h2 {
		font-size: 60px;
	}
}

@media (max-width: 360px) {
	.titleWelcome h2 {
		font-size: 50px;
	}
}
